/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*[class^="card"] {
    -webkit-box-shadow: 5px 5px 10px 0px #000000;
    -moz-box-shadow: 5px 5px 10px 0px #000000;
    -o-box-shadow: 5px 5px 10px 0px #000000;
    box-shadow: 5px 5px 10px 0px #000000;
}

:root {
    --white: rgba(254, 255, 254, 1);
    --dark: rgba(50, 51, 50, 1);
    --violet: rgba(151, 146, 228, 1);
    --blue: rgba(0, 133, 252, 1);
    --lightblue: #b5ddff;
}

body {
    font-family: 'PT Sans', sans-serif;
}

main {
    line-height: 2rem;
}

/* #endregion common */


/* #region utilities */

.row {
    display: flex;
    flex-wrap: wrap;
}

.d_flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    width: 85%;
    max-width: 1152px;
    margin: 0 auto;
}

.container_30 {
    width: 30%;
    max-width: 400px;
    margin: 0 auto;
}

.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}



/* #endregion utilities */

/* #region debug */

.debug [class^="col"] {
    height: 300px;
    border: 1px solid grey;
}

/* #endregion debug */

/* #region header */

#app_header {
    background-color: var(--blue);
    padding: 0.5rem 0;
}

#app_header li {
    list-style: none;
    margin: 0 1rem;
}

#app_header a,
.demo a {
    text-decoration: none;
    color: var(--white);
}

#app_header .container {
    justify-content: space-between;
    align-items: center;
}

#app_header .btn {
    background-color: var(--white);
    color: var(--dark);
    padding: 0.3rem 1rem;
    border-radius: 15px;
}

/* #endregion header */

/* #region main */

/* demo */

.demo .col_12 {
    margin: 1rem;
}

.demo {
    margin: 3rem auto;
}

.demo h3 {
    color: var(--blue);
    margin: 1rem auto;
    font-size: 2rem;
}

.demo a {
    background-color: var(--blue);
    padding: 0.5rem 2rem;
    border-radius: 15px;
}

i.fa-brands.fa-apple {
    color: white;
    margin-right: 0.5rem;
}

.demo img {
    height: 100%;
    width: 80%;
}

.col_12.col_md_6.d_flex {
    margin: 0;
    justify-content: center;
    align-items: baseline;
}

.demo .card {
    background-color: var(--lightblue);
    border-radius: 20px;
    padding: 0 1rem;
    height: 100%;
}

.demo .card_sm {
    text-align: center;
    padding: 2rem 1rem;
}

.btn_demo {
    text-align: center;
    margin: 2rem auto;
}

.demo i {
    color: var(--blue);
}


/* planning */

#planning {
    background-color: var(--violet);
    padding: 3rem 0;
}

#planning img {
    width: 100%
}

#planning h2 {
    color: var(--white);
    font-size: 2.5rem;
    padding: 3rem 0;
}

.strategic p {
    color: var(--white);
}

.card_app {
    padding: 2rem 1rem;
    margin: 2rem auto;
    background-color: var(--white);
    border-radius: 50px;
    text-align: center;
}

i.fa-solid.fa-arrow-down-long {
    color: var(--dark);
    background-color: var(--violet);
    padding: 1rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 2rem;
}


/* testimonials */

.section_heading {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.section_heading h1 {
    color: var(--violet);
    font-size: 2rem;
    margin: 2rem 0;
}

.testimonial {
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--violet);
    padding: 2rem 1rem;
    border-radius: 50px;
    margin: 2rem 0;
    -webkit-box-shadow: 5px 5px 10px 0px #000000;
    -moz-box-shadow: 5px 5px 10px 0px #000000;
    -o-box-shadow: 5px 5px 10px 0px #000000;
    box-shadow: 5px 5px 10px 0px #000000;
}

.testimonial p {
    color: var(--white);
    padding: 2rem 1rem;
}

.bio strong {
    color: var(--white);
    font-size: 1.5rem;
}

.avatar {
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    padding: 1rem 2rem;
}

.img1 {
    background-image: url(../img/testimonial1.jpg);
}

.img2 {
    background-image: url(../img/testimonial2.jpg);
}

.img3 {
    background-image: url(../img/testimonial3.jpg);
}

/* benefits */

#benefits {
    background-color: var(--violet);
    padding-bottom: 3rem;
}

.h1_bn {
    color: var(--white);
    padding: 3rem 0;
    line-height: 4rem;
    text-align: center;
    font-size: 3rem;
}

.benefits_card {
    background-color: var(--white);
    padding: 2rem 3rem;
    border-radius: 20px;
    margin: 1rem;
    -webkit-box-shadow: 5px 5px 10px 0px #000000;
    -moz-box-shadow: 5px 5px 10px 0px #000000;
    -o-box-shadow: 5px 5px 10px 0px #000000;
    box-shadow: 5px 5px 10px 0px #000000;
}

.benefits_card h1 {
    font-size: 3rem;
    color: var(--violet);
    margin: 2rem 0;
}

.benefits_card h2 {
    font-size: 1.5rem;
    color: var(--violet);
    margin: 2rem 0;
}

.benefits_card p {
    margin: 2rem 0;
}

.benefits_card a {
    background-color: var(--violet);
    color: var(--white);
    padding: 0.6rem 3rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 40px;
}

/* about */

#about {
    margin: 6rem 1rem;
}

#about h1 {
    line-height: 4rem;
    font-size: 4rem;
    color: var(--violet);
}

#about p {
    margin: 2rem 0;
}

.img4 {
    background-image: url(../img/about.jpg);
    text-align: end;
}

.avatar i {
    position: absolute;
    color: var(--violet);
}

#about .avatar {
    margin: 2rem 0;
}

#about span {
    color: var(--violet);
    font-size: 2rem;
    font-weight: 700;
}

.btn_about {
    margin: 2rem 0;
}

#about a {
    color: var(--white);
    background-color: var(--violet);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 4rem;
}

/* call to action */

#call_to_action {
    text-align: center;
    background-color: var(--violet);
    padding: 5rem 1rem;
}

.start {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.575);
}

#call_to_action h2 {
    color: var(--white);
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 3rem;
}

#call_to_action h1 {
    line-height: 5rem;
    font-size: 5rem;
    color: #fdc15f;
    padding-bottom: 4rem;
}

#call_to_action p {
    color: var(--white);
    margin-bottom: 2rem;
}

.btn_cta {
    background-color: var(--white);
    padding: 1rem 3rem;
    color: var(--violet);
    border-radius: 40px;
    font-weight: 600;
}

.copyright {
    padding-top: 2rem;
}

.copyright a {
    color: var(--white);
}

/* #endregion main */

/* #region footer */

#app_footer {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
}

#app_footer a {
    color: var(--violet);
}

#app_footer p {
    padding: 3rem 2rem;
}

/* #endregion footer */


/* #region mediaquery */

@media screen and (min-width: 768px) {

    .col_md_1 {
        width: calc(100% / 12 * 1);
    }

    .col_md_2 {
        width: calc(100% / 12 * 2);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .col_md_4 {
        width: calc(100% / 12 * 4);
    }

    .col_md_5 {
        width: calc(100% / 12 * 5);
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }

    .col_md_7 {
        width: calc(100% / 12 * 7);
    }

    .col_md_8 {
        width: calc(100% / 12 * 8);
    }

    .col_md_9 {
        width: calc(100% / 12 * 9);
    }

    .col_md_10 {
        width: calc(100% / 12 * 10);
    }

    .col_md_11 {
        width: calc(100% / 12 * 11);
    }

    .col_md_12 {
        width: calc(100% / 12 * 12);
    }

    /* demo */

    .col_12.col_md_4,
    .col_12.col_md_8 {
        padding: 1rem;
        margin: 0;
    }

    .btn_demo {
        text-align: left;
        margin: 2rem auto;
    }

    /* testimonials */

    .testimonial {
        flex-direction: row;
        align-items: center;
    }

    /* about */

    #about .avatar {
        margin-bottom: 2rem;
        margin-top: 0;
        width: 100%;
    }


}

@media screen and (min-width: 1200px) {

    .col_lg_1 {
        width: calc(100% / 12 * 1);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .col_lg_3 {
        width: calc(100% / 12 * 3);
    }

    .col_lg_4 {
        width: calc(100% / 12 * 4);
    }

    .col_lg_5 {
        width: calc(100% / 12 * 5);
    }

    .col_lg_6 {
        width: calc(100% / 12 * 6);
    }

    .col_lg_7 {
        width: calc(100% / 12 * 7);
    }

    .col_lg_8 {
        width: calc(100% / 12 * 8);
    }

    .col_lg_9 {
        width: calc(100% / 12 * 9);
    }

    .col_lg_10 {
        width: calc(100% / 12 * 10);
    }

    .col_lg_11 {
        width: calc(100% / 12 * 11);
    }

    .col_lg_12 {
        width: calc(100% / 12 * 12);
    }

    .col_12.col_md_12.col_lg_6 {
        margin: 0;
    }

    /* demo */

    .col_12.col_md_6.d_flex {
        height: 100%;
        margin-top: 5rem;
    }

    .card_lg img {
        height: 100%;
    }

    /* planning */

    #planning .col_lg_6 {
        padding: 2rem;
    }

    .card_app {
        margin-top: 15rem;
    }

    .strategic {
        padding-top: 3rem;
    }

    .strategic h2 {
        margin-top: 7rem;
    }

    .card_app p {
        font-style: italic;
    }

    /* call to action */

    #call_to_action .container,
    #app_footer .container {
        width: 40%;
        max-width: 500px;
    }

}

/* #endregion mediaquery */